{% extends 'layout.twig' %}
{% block title %}
	<title>OSS Blog || Ajout d'une citation</title>
{% endblock %}

{% block menu %}
    {% include 'menu.twig' %}
{% endblock %}

{% block body %}
	
	<p>Ajoutez votre citation :</p>

	<form id="formAjoutCitation" action="" method="post">
		<input type="text" name="contenuCitation" placeholder="Citation ou titre citation"><br>
		<input type="text" name="lienVideoCitation" placeholder="Lien de la Video Youtube"><br>
		<input type="submit">
	</form>

{% endblock %}