{% extends 'layout.twig' %}
{% block body %}

	
	<h1>{{article.getTitre()}}</h1>
	<p>{{article.getContenuArticle()}}</p>

	{% for commentaire in commentaires %}

		<div class="commentaire">
			<p class="nomEditeurCommentaire">{{commentaire.getNomEditeur()}}</p>
			<p class="contenuCommentaire">{{commentaire.getContenuCommentaire()}}</p>
		</div>
			
	{% endfor %}

	<form id="" action="" method="post">
		<input type="text" name="nomEditeur" placeholder="Votre nom"><br>
		<textarea type="text" name="contenuCommentaire" placeholder="Votre commentaire"></textarea><br>
		<input type="submit" value="Commentez">
	</form>
	

{% endblock %}