{% extends 'layout.twig' %}
{% block body %}
	{% include 'menu.twig' %}
	<h1>{{article.getTitre()}}</h1>
	<p>{{article.getContenuArticle()}}</p>

	{% for commentaire in commentaires %}

		<p>{{commentaire.getNomEditeur()}}</p>
		<p>{{commentaire.getContenuCommentaire()}}</p>

	{% endfor %}

	<form id="" action="" method="post">
		<input type="text" name="nomEditeur" placeholder="Votre nom"><br>
		<input type="text" name="contenuCommentaire" placeholder="Votre commentaire"><br>
		<input type="submit">
	</form>
	
{% endblock %}