{% extends 'layout.twig' %}

{% block title %}
	<title>OSS Blog</title>
{% endblock %}

{% block menu %}
    {% include 'menu.twig' %}
{% endblock %}

{% block body %}
	
	<h1>Bienvenue sur le site</h1>
	
	<ul>
		{% for article in articles %}
			<li>
				<a class="lienArticle" href="{{ app.request.basepath }}/article/{{ article.getIdArticle() }}">{{ article.getTitre() }}</a>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}