<!DOCTYPE html>
<html lang="fr">
<head>
	<title>OSS Blog</title>
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/src/style/style.css">
</head>
<body>
	{% block menu %}{% endblock %}
	{% block body %}{% endblock %}
</body>
</html>