
{# <p>Je suis le menu</p> #}
	
<ul>
	<li>
		<a href="{{app.request.basepath}}/admin">Moderation article</a>
	</li>
	<li>
	<a href="{{app.request.basepath}}/admin/citations">Moderation citation</a>
	</li>
	<li>
		<a href="{{app.request.basepath}}/">Home</a>
	</li>
</ul>
	


