
{# <p>Je suis le menu</p> #}
	
<ul>
	<li>
		<a href="{{app.request.basepath}}/">Home</a>
	</li>
	<li>
		<a href="{{app.request.basepath}}/citations">Citations</a>
	</li>
	<li>
		<a href="{{ app.request.basepath }}/ajout_article">Ajouter un article</a>
	</li>
</ul>
	


