{% extends 'layout.twig' %}
{% block body %}

{#{% include 'menu.twig' %}#}
<h1>Modification du contenu de l'article</h1>

<h2>{{ article.getTitre() }}</h2>

<form action="form_modifierContenuArticle.php" method="post">

<input type="text" name="requete" value={{ article.getContenuArticle() }}><br>;
<input type="submit" value="Valider" />

</form>



{% endblock %}